extends layout

block content
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') KamalDhari Infotech
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/admin/login') Login
            li
              a(href='/admin/register') Register
                    != messages()
    .container
        h3= title
        ul.errors
              if errors
                      each error, i in errors
                          li.alert.alert-msg.alert-danger #{error.msg}
        .row
            form.col-md-12(method='post', action='/api/user')
              .row
                .input-field.col-md-6
                    label(for='first_name') First Name
                    input#first_name.form-control(name='first_name', type='text')
                  
                .input-field.col-md-6
                    label(for='last_name') Last Name
                    input#last_name.form-control(name='last_name', type='text')
                  
              .row
                .input-field.col-md-6
                    label(for='email') Email
                    input#email.form-control(name='email', type='email')
                  
              .row
                .input-field.col-md-6
                    label(for='password') Password
                    input#password.form-control(name='password', type='password')
                  
              .row
                .input-field.col-md-12
                    input#submit.btn.btn-default(name='submit', type='submit', value='REGISTER')
