extends layout

block content
    .row
        h1.col-md-6 All Posts
        .col-md-3.pull-right
          .input-group.mb15(style='margin-top: 20px;')
            input.form-control.br0
            span.input-group-btn
              button.btn.btn-info(type='button')
                i.fa.fa-search
        .table-responsive
          table.table.table-striped.table-bordered.table-hover.table-condensed.responsive.mb0(data-sortable-initialized='true', data-sortable='')
            thead
              tr
                th Rendering engine 
                th Browser 
                th Platform(s) 
                th Engine version 
                th CSS grade 
            tbody
              tr
                td Other browsers 
                td All others 
                td - 
                td - 
                td U 
        ul.pagination.pagination-lg.clearfix.block
          li
            a(href='javascript:;') Previous
          li
            a(href='javascript:;') 1
          li
            a(href='javascript:;') 2
          li
            a(href='javascript:;') 3
          li
            a(href='javascript:;') 4
          li
            a(href='javascript:;') 5
          li
            a(href='javascript:;') 6
          li
            a(href='javascript:;') 7
          li
            a(href='javascript:;') Next
